<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Eipulse首頁</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary " >
    <div class="container-fluid">
        <a class="navbar-brand text-white " href="#">Eipulse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active text-white" aria-current="page" href="#">上班</a>
                <a class="nav-link text-white" th:href="@{/forgetPassword}">忘記密碼</a>
                <a class="nav-link text-white" href="#">福委會</a>
            </div>
        </div>
    </div>
</nav>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>